.texto{
    color: white;

}

button:hover{
    transition: 0.5s;
    transform: scale(1.1);
    background-color: rgb(228, 45, 203);
    color: black;
    
}

button:not(:hover){
    transition: 0.5s;
    
}
img{
overflow-x: hidden;
overflow-y: hidden;


}



.container{
    
    align-items: block;
   
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 30px;
    width: 100%;
    height: 100%;
 

}

p{
    padding-top: 20px;
}
iframe{
    
    margin: 900px;
}